header {
  display: flex;
  align-items: center;
  h1 {
    margin-right: .3em;
  }
  span {
    width: 40px; height: 40px;
    // fx with flexbox
    line-height: 40px;
    border-radius: 100%;
    color: #ffffff;
    background-color: #ccc;
  }
}