.keyboard_container {
  display: flex;
  /* min-width: 20%; */
  /* max-width: 40%; */
  width: 40%;
  flex-wrap: wrap;
  justify-content: center;
}
/* https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
*/
.keyboard_container > .key {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  min-width: 3em;
  min-height: 3em;
  background-color: blanchedalmond;
}
